In [95]:
# Import our dependencies

from path import Path
import pandas as pd

In [96]:
#Connect Python to Postgres
import psycopg2
engine = psycopg2.connect(
    database="postgres",
    user="postgres",
    password="password",
    host="happiness.c45odizugug2.us-east-2.rds.amazonaws.com",
    port='5432'
)

In [107]:
#Read Csv File 
file = Path('Resources/API_SP.csv')
life_expect_df = pd.read_csv(file)
life_expect_df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,65.662,66.074,66.444,66.787,67.113,67.435,...,75.15800,75.299000,75.441000,75.583000,75.725000,75.868000,76.010000,76.152000,NaN,NaN
1,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,32.446,32.962,33.471,33.971,34.463,34.948,...,61.55300,62.054000,62.525000,62.966000,63.377000,63.763000,64.130000,64.486000,NaN,NaN
2,Angola,AGO,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,37.524,37.811,38.113,38.430,38.760,39.102,...,56.33000,57.236000,58.054000,58.776000,59.398000,59.925000,60.379000,60.782000,NaN,NaN
3,Albania,ALB,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,62.283,63.301,64.190,64.914,65.463,65.850,...,76.91400,77.252000,77.554000,77.813000,78.025000,78.194000,78.333000,78.458000,NaN,NaN
4,Andorra,AND,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,NaN,NaN,NaN,NaN,NaN,NaN,...,70.14878,70.497561,70.797561,71.097561,71.346341,71.646341,71.946341,72.195122,NaN,NaN
260,"Yemen, Rep.",YEM,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,29.919,30.163,30.500,30.943,31.501,32.175,...,65.76800,65.920000,66.016000,66.066000,66.085000,66.087000,66.086000,66.096000,NaN,NaN
261,South Africa,ZAF,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,48.406,48.777,49.142,49.509,49.888,50.284,...,58.89500,60.060000,61.099000,61.968000,62.649000,63.153000,63.538000,63.857000,NaN,NaN
262,Zambia,ZMB,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,46.687,47.084,47.446,47.772,48.068,48.351,...,57.12600,58.502000,59.746000,60.831000,61.737000,62.464000,63.043000,63.510000,NaN,NaN
263,Zimbabwe,ZWE,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,53.019,53.483,53.946,54.403,54.849,55.274,...,52.89600,55.032000,56.897000,58.410000,59.534000,60.294000,60.812000,61.195000,NaN,NaN

In [108]:
life_expect_df.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020'],
      dtype='object')

In [109]:
life_expect_df.dtypes

Country Name       object
Country Code       object
Indicator Name     object
Indicator Code     object
1960              float64
                   ...
2016              float64
2017              float64
2018              float64
2019              float64
2020              float64
Length: 65, dtype: object

In [110]:
file = Path('Resources/hfi_cc_2020.csv')
freedom_df = pd.read_csv(file)
freedom_df.head()

,Unnamed: 0,year,ISO_code,countries,region,hf_score,hf_rank,hf_quartile,pf_rol_procedural,pf_rol_civil,...,ef_regulation_business_bureaucracy,ef_regulation_business_start,ef_regulation_business_bribes,ef_regulation_business_licensing,ef_regulation_business_compliance,ef_regulation_business,ef_regulation,ef_score,ef_rank,womens_freedom
0,0,2018,ALB,Albania,Eastern Europe,7.81,43.0,2.0,6.0,4.8,...,6.7,9.7,5.4,5.6,7.2,6.7,7.7,7.80,26.0,9.26
1,1,2017,ALB,Albania,Eastern Europe,7.78,44.0,2.0,6.3,4.4,...,6.7,9.7,6.0,6.0,7.2,7.0,7.9,7.70,36.0,9.26
2,2,2016,ALB,Albania,Eastern Europe,7.63,50.0,2.0,6.7,4.5,...,6.0,9.7,6.0,7.3,7.1,7.0,7.6,7.69,36.0,7.50
3,3,2015,ALB,Albania,Eastern Europe,7.55,52.0,2.0,6.7,4.5,...,6.0,9.7,6.0,7.3,7.1,7.0,7.7,7.70,34.0,7.50
4,4,2014,ALB,Albania,Eastern Europe,7.65,48.0,2.0,6.1,4.8,...,6.0,9.7,6.0,7.2,6.0,6.8,7.8,7.65,37.0,7.50

In [111]:
freedom_df.columns

Index(['Unnamed: 0', 'year', 'ISO_code', 'countries', 'region', 'hf_score',
       'hf_rank', 'hf_quartile', 'pf_rol_procedural', 'pf_rol_civil',
       ...
       'ef_regulation_business_bureaucracy', 'ef_regulation_business_start',
       'ef_regulation_business_bribes', 'ef_regulation_business_licensing',
       'ef_regulation_business_compliance', 'ef_regulation_business',
       'ef_regulation', 'ef_score', 'ef_rank', 'womens_freedom'],
      dtype='object', length=113)

In [112]:
freedom_df.dtypes

Unnamed: 0                  int64
year                        int64
ISO_code                   object
countries                  object
region                     object
                           ...
ef_regulation_business    float64
ef_regulation             float64
ef_score                  float64
ef_rank                   float64
womens_freedom            float64
Length: 113, dtype: object

In [113]:
file = Path('Resources/2018.csv')
happiness_df = pd.read_csv(file)
happiness_df.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [114]:
happiness_df.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [115]:
happiness_df.dtypes

Overall rank                      int64
Country or region                object
Score                           float64
GDP per capita                  float64
Social support                  float64
Healthy life expectancy         float64
Freedom to make life choices    float64
Generosity                      float64
Perceptions of corruption       float64
dtype: object